.wtm-button {
	height: 1.8em;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding: 2px 2px 0px 6px;
}


table.list tr.red {
	background-color: #fe4040;
}

#wtm {
	background-color: #5BB75B;
}

#wtm-buttons-panel > .wtm-button.running {
	background-color: #FAA732;
}

#english {
	background-color: #2C4056;
	display: none;
}

#english.visible {
	display: block;
}