<h2>Lista wykonanych godzin</h2>

<table id="work_time_list">
<tr>
	<% if User.current.admin? %> <th>Użytkownik</th> <% end %>
	<th>Start</th>
	<th>Koniec</th>
</tr>

<% @work_items.each do |work_time| %>
<tr>
	<% if User.current.admin? %> <td><%= work_time.user.login %></td> <% end %>
	<td><%= work_time.start %></td>
	<td><%= work_time.end %></td>
</tr>
<% end %>
</table>
